body {
    margin: 0px;
    padding: 36px 0px 0px;
    font-family: Onest, sans-serif, Helvetica;
    line-height: 1.2;
    text-size-adjust: 100%;
    max-width: 100%;
    overflow-x: hidden;
    background: #F5F5F5;
}